<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.samuel.chefhero">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.order_items.adjustvalue.AdjustValueActivity"
            android:label="@string/title_activity_adjust_value"
            android:parentActivityName=".ui.order_items.OrderListActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.samuel.chefhero.ui.order_items.OrderListActivity" />
        </activity>
        <activity
            android:name=".ui.order_items.OrderListActivity"
            android:label="@string/title_activity_order_list"
            android:parentActivityName=".ui.route_plan.RoutePlanActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.samuel.chefhero.ui.route_plan.RoutePlanActivity" />
        </activity>
        <activity android:name=".ui.route_plan.RoutePlanActivity" /> <!-- <activity android:name=".ui.route_list.RouteListActivity"></activity> -->
        <activity android:name=".ui.login.LoginActivity" />
        <activity
            android:name=".ui.route_list.RouteListActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>